.bodyHome {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(68.15deg, #261172 16.62%, #22d8c0 85.61%)
}

.quadradoBranco {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: black; 
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black; 
  text-align: left;

}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  background-color: #3498db; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; 
}