.menuVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  width: 200px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
